.DS_Store
**/__pycache__/
**/.ipynb_checkpoints
*.ipynb_checkpoints
/doc_documentation
/doc_research_papers
/.vscode
*.pyc

# include these top-level directores but only specific content
/data/*
/model_saves/*/*

# Includelist
!dataset_splits.txt
!training.txt